<h2><%= @cocktail.name %></h2>
<% @cocktail.doses.each do |dose| %>
<p>description : <%= dose.description %></p>
<p>name : <%= dose.ingredient.name %></p>
<%= link_to "Delete a dose", dose_path(dose), method: :delete, class: "btn btn-success"%>
<% end %>
<%= link_to "Go back to the list", cocktails_path, class: "btn btn-success"%>
<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-success"%>
